<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/core.css}">

</head>
<body>
<div id="menu" class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/index}">My project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li >
                    <a href="#" th:href="@{/}">Test</a>
                </li>
                <li >
                    <a href="#" th:href="@{/demo}">Demo</a>
                </li>
                <li >
                    <a id="signup" >Dialog</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div th:insert="fragmenttemp/dialog :: #myModal"></div>

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dialog.js}"></script>
<!--<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax
    * 需要使用bootstrap.js
    * */
    $(document).ready(function () {
        $('#signup').on('click', function (e) {
            $("#myModal").modal();
            /*$("#myModalBody").text("");
            $.ajax({
                url: "signup",
                cache: false
            }).done(function (html) {
                $("#myModalBody").append(html);
            });*/
        })
    });
</script>-->

</body>
</html>