<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>

<body>

<div th:text="${MSG}">这里是信息提示.</div>

<div>表单提交，后台有表单valid</div>
<form id="iform" th:action="@{/add1}" th:method="post" th:object="${user}">
    <table border="1">
        <tr>
            <th>username</th>
            <th>密码</th>
        </tr>
        <tr>
            <td><input type="text" name="username" value="" th:value="*{username}"/></td>
            <td><input type="text" name="password" value="" th:value="*{password}"/></td>
        </tr>
    </table>
    <td><input type="submit" value="添加"/></td>
</form>

</body>
</html>